@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
  background-color: #e2e2e2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
p {
  margin: 0 0 1.3rem;
}

.text {
  padding: 1rem;
}

div {
  display: inline-block;
}

.img-flex {
  width: 100%;
  display: block;
}

a {
  background-color: #555;
  display: inline-block;
  color: #fff;
  border-radius: 4px;
  padding: .5em .75em;
  text-decoration: none;
  text-align: center;
}

a:hover {
  background-color: #000;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
    background-color: #fff;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  section {
    background-color: #e2e2e2;
  }

  .img-flex {
    display: inline-block;
    max-width: 50%;
    width: 100%;
  }

  .text {
    text-align: left;
    max-width: 46%;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
    background-color: #e2e2e2;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  .img-flex {
    display: inline-block;
    vertical-align: middle;
    max-width: 53%;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .text {
    margin-top: 3rem;
    vertical-align: middle;
    max-width: 45%;
    margin-left: 0;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}
